html{
	scroll-behavior: smooth;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'poppins' , sans-serif;
}
body{
	background: #0a2a43;
	min-height: 1500px;
}
/*home*/

#section{
	position: relative;
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}
#section:before{
	content: '';
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	background: linear-gradient(to top, #0a2a43, transparent);
	z-index: 1000;
}
#section:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #0a2a43;
	z-index: 1000;
	mix-blend-mode: color;
}
#section img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	pointer-events: none;
}
#section #text{
	position: relative;
	color: #fff;
	font-size: 10em;
	z-index: 1;
}
#section #road{
	z-index: 2;
}

/*header*/

#header{
	top: 0;
	width: 100%;
	padding: 10px 100px;
	display: flex;
	justify-content: flex-end;
	position: absolute;
	z-index:10000;

}
#header ul{
	display: flex;
}
#header ul li{
	list-style: none;
	margin-left: 20px;
}
#header ul li a{
	text-decoration: none;
	color: black;
	padding: 6px 15px;
	background: white;
	border-radius: 20px;
}
#header ul li a:hover{
	background: black;
	color: #fff;
	border-radius: 20px;
}


/*about*/

#about{
	min-height: 100vh;
	padding: 10vh 30vh;
	color: white;
	margin-bottom: 44px;

}
#about q{
	font-size: 40px;
}
#about q, p{
 	margin-bottom: 22px;
}
#about #text{
	font-size: 50px;
	margin-bottom: 25px;
	border-bottom: 4px solid #648880;

}


/*service*/

#service{
	height: 100vh;
	margin-bottom: 100px;
}
#service a{
	text-decoration: none;
	color: black;
	text-align: center;
	vertical-align: middle;
}
#service p{
	color: black;
	text-align: center;
	position: relative;
	top: 50%;
	font-size: 30px;
	font-family: Papyrus;
}


/*work*/

#work{
	height: 150vh;
	margin-bottom: 70px;
}
#work h1{
	margin-bottom: 25px;
	font-size: 50px;
	border-left: 4px solid #648880;
}

.card{
	width: 410px;
	height: 335px;
	display: inline-block;
	border-radius: 10px;
	padding: 15px 25px;
	box-sizing: border-box;
	cursor: pointer;
	margin: 10px 15px;
	background-position: center;
	background-size: cover;
	transition: transform 0.5s;
}
.card1{
		background-image: url('../foto/works1.png');
		width: 1300px;
		height: 435px;
}
.card2{
		background-image: url('../foto/works2.png');
		width: 770px;
		height: 335px;
}
.card3{
		background-image: url('../foto/works3.png');
		width: 490px;
		height: 335px;
}
.card4{
		background-image: url('../foto/works4.png');
}
.card5{
		background-image: url('../foto/works5.png');
}
.card6{
		background-image: url('../foto/works6.png');
}
.card:hover{
	transform: translateY(-10px);
}

/*footer*/

#footer {
	padding: 10vh 1vh;
 	margin: auto;
 	color: white;
 	height: 70vh;
}
#footer h1{
	margin-bottom: 25px;
	font-size: 50px;
	border-bottom: 4px solid #648880;
}
#footer a{
	text-decoration: none;
}
#footer #ab{
	color: grey;
	font-size: 20px;
}
#footer p{
	color: white;
	font-size: 30px;
	background-color: #0a2a43;
	box-shadow: inset 350px 0 0 0 #0a2a43;
	transition: ease-out 0.3s;
}
#footer #a1:hover{
	background: #0a2a43;
	color: black;
	box-shadow: inset 134px 0px 0px 0px #3a5468;
}
#footer #a2:hover{
	background: #0a2a43;
	color: black;
	box-shadow: inset 47px 0px 0px 0px #3a5468;
}
#footer #a3:hover{
	background: #0a2a43;
	color: black;
	box-shadow: inset 75px 0px 0px 0px #3a5468;
}
#footer #a4:hover{
	background: #0a2a43;
	color: black;
	box-shadow: inset 113px 0px 0px 0px #3a5468;
}
#footer #a5:hover{
	background: #0a2a43;
	color: black;
	box-shadow: inset 132px 0px 0px 0px #3a5468;
}





/*
  ========================================
  Grid
  ========================================
*/

.grid {
  margin: 0 auto;
  width: 960px;
}
.grid, .col-1-2{
  padding-left: 15px;
  padding-right: 15px;
}
.grid1{
  padding-left: 50px;
  padding-right: 50px;
}
.col-1-4 {
  width: 24.7%;
  display: inline-block;
  height: 100vh;
  transition: transform 0.5s;

 }
.col-1-4:hover {
  transform: translate(-10px);
  opacity: 1;
}
.img1 {
	background: url('../foto/design.jpg');
	max-width: 100%;
  max-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.4;
  transition: 1s;
}
.img2 {
	background: url('../foto/front.jpg');
	max-width: 100%;
  max-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.4;
  transition: 1s;
}
.img3 {
	background: url('../foto/mentor.jpg');
	max-width: 100%;
  max-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.4;
  transition: 1s;
}
.img4 {
	background: url('../foto/back.jpg');
	max-width: 100%;
  max-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.4;
  transition: 1s;
}

.col-1-2{
	width: 45%;
 	display: inline-block;
 	vertical-align: top;
}

/*
  ========================================
  Row
  ========================================
*/

.row {
 background-color: white;
}

.row-alt {
  background: #cbe2c1;
  background: -webkit-linear-gradient(to right, #a1d3b0, #f6f1d3);
  background:    -moz-linear-gradient(to right, #a1d3b0, #f6f1d3);
  background:         linear-gradient(to right, #a1d3b0, #f6f1d3);
  padding: 44px 0 22px 0;
  min-width: 960px;
}































































